In [7]:
library(tidyverse)
library(repr)
library(tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()

In [8]:
student_performance <- read_delim("student-por.csv", delim = ";")

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  Medu = col_double(),
  Fedu = col_double(),
  traveltime = col_double(),
  studytime = col_double(),
  failures = col_double(),
  famrel = col_double(),
  freetime = col_double(),
  goout = col_double(),
  Dalc = col_double(),
  Walc = col_double(),
  health = col_double(),
  absences = col_double(),
  G1 = col_double(),
  G2 = col_double(),
  G3 = col_double()
)

See spec(...) for full column specifications.

In [9]:
head(student_performance)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3      4         0 11 11
2 3        3     1    1    3      2         9 11 11
3 3        2     2    3    3      6        12 13 12
4 2        2     1    1    5      0        14 14 14
5 3        2     1    2    5      0        11 13 13
6 4        2     1    2    5      6        12 12 13

In [10]:
ncol(student_performance)

[1] 33

In [11]:
nrow(student_performance)

[1] 649

In [12]:
missing_data <- sum(is.na(student_performance))
missing_data

[1] 0

**There is no missing data in the dataset.**

In [24]:
student_performance_training <- student_performance[1:316,]
head(student_performance_training)
student_performance_test <- student_performance[317:395,]
head(student_performance_test)

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   18  U       GT3     A       4    4    at_home  teacher  ⋯ 4
2 GP     F   17  U       GT3     T       1    1    at_home  other    ⋯ 5
3 GP     F   15  U       LE3     T       1    1    at_home  other    ⋯ 4
4 GP     F   15  U       GT3     T       4    2    health   services ⋯ 3
5 GP     F   16  U       GT3     T       3    3    other    other    ⋯ 4
6 GP     M   16  U       LE3     T       4    3    services other    ⋯ 5
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        4     1    1    3      4         0 11 11
2 3        3     1    1    3      2         9 11 11
3 3        2     2    3    3      6        12 13 12
4 2        2     1    1    5      0        14 14 14
5 3        2     1    2    5      0        11 13 13
6 4        2     1    2    5      6        12 12 13

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel
1 GP     F   17  U       GT3     T       2    4    at_home  health   ⋯ 4
2 GP     F   17  U       LE3     T       2    2    services other    ⋯ 4
3 GP     F   18  R       GT3     A       3    2    other    services ⋯ 4
4 GP     M   18  U       GT3     T       4    4    teacher  services ⋯ 3
5 GP     F   18  U       GT3     T       4    4    health   health   ⋯ 2
6 GP     F   17  U       GT3     T       2    2    other    services ⋯ 4
  freetime goout Dalc Walc health absences G1 G2 G3
1 3        3     1    1    1       6       15 16 16
2 4        4     2    3    5       6       12 12 12
3 1        1     1    1    5      15       12  9 10
4 2        4     1    4    3       6       11 12 12
5 4        4     1    1    4       2       14 12 13
6 2        3     1    1    1       8       13 15 15

In [25]:
student_performance_training_select <- select(student_performance_training, studytime, traveltime, G3) 
head(student_performance_training_select)

  studytime traveltime G3
1 2         2          11
2 2         1          11
3 2         1          12
4 3         1          14
5 2         1          13
6 2         1          13

In [28]:
study_vs_travel <- ggplot(student_performance_training_select, aes(x = studytime, y = traveltime)) + 
     geom_point() +
     labs(x = “Study time”, y = “Travel time”) +
     theme(text = element_text(size = 20))
study_vs_travel

ERROR: Error in parse(text = x, srcfile = src): <text>:3:15: unexpected input
2:      geom_point() +
3:      labs(x = “
                 ^